<!DOCTYPE html>
<html lang="en" ng-app="EAN">
<head ng-controller="HeaderController">
  <meta charset="UTF-8">
  <title ng-bind="head.title">EAN</title>
  <meta name="description" content="{{ head.description }}">

  <!-- inject:css -->
  <!-- endinject -->
</head>
<body>
  <ui-view></ui-view>

  <!-- inject:js -->
  <!-- endinject -->
</body>
</html>